# App
APP_NAME="SPARKIIT Certificate System"
ORG_NAME=SPARKIIT
ORG_WEBSITE=https://SPARKIIT.com
BASE_URL=http://localhost/SPARKIIT-certifcate

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=your_database_name
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

# Mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM_EMAIL=noreply@yourdomain.com
MAIL_FROM_NAME=SparkIIT
MAIL_ENCRYPTION=tls
